h1 {
    margin: 0;
    background: gray;
    text-align: center;
    color: darkblue;
}
body {
    margin: 0;
    background: whitesmoke;
    text-align: center;
}

/* ol {
    list-style: inside;
} */